@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your custom styles or Tailwind config */
.radial-gradient {
  background: radial-gradient(circle, #433d60, #403a5f, #211e2e);
}
.linear-gradient {
  background: linear-gradient(to bottom, #343045, #c0b7e8, #8176af, #343045);
}

.linear-gradient-footer {
  background: linear-gradient(to right, #343045, #c0b7e8, #8176af, #343045);
}
